<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
  
  <title>Meeting Ended</title>
  <style>
    body {
      background: #111;
      color: #fff;
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }
    h1 {
      font-size: 2em;
    }
    a {
      color: #4CAF50;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Thanks For Joining The Meeting</h1>
  <p>This meeting has ended, See You Again!!!</p>
  
</body>
</html>
